<section>
  <div class="container">
    <div class="row">
        <div class="col-12 my-5 py-4"></div>
        <div class="col-12 my-5 py-4"></div>
    </div>
    <div class="row justify-content-center my-5 mx-1">
        <div class="col-12 col-md-8 shadow rounded-3 px-2" 
            id="texte_accueil">
            <div class="fs-1 fw-bold text-start">
                Notre plus grande satisfactions ?
            </div>
            <div class="m-2 p-2"></div>
            <div class="fs-1 fw-bold text-end">
                Illuminer l' afrique
            </div>
            <div class="m-2 p-2"></div>
            
        </div>
    </div>
</div>

</section>


<section id="exellence" class="py-2">
    <div class="container-fluid">
      <div class="row">
          <h3 class="text-center py-2 fs-1 fw-bold text-center" style="color: #001e67e0;"> Distinctions </h3>
      </div>
      <div class="row">
        <div class="atout d-flex justify-content-between">
          <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h4 class="card-title text-center"> 1 er prix<br> EDF Pulse Africa <br> 2019 </h4> 
            </div>
          </div>
          <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h4 class="card-title text-center"> 1 er prix<br> SeedStars World abidjan <br> 2019</h4>
            </div>
          </div>
          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h4 class="card-title text-center"> Young sMes <br> people choice</h4>
            </div>
          </div>
          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h4 class="card-title text center"> Young sMes <br> in technology </h4>
            </div>
          </div>
        </div>
      </div>
  </div>
  </section>

  <section>
  
  </section>
  
  <section id="photo" class="py-2">
      <div class="container-fluid">
          <div class="row">
              <h3 class="text-center py-2 fs-1 fw-bold text-center" style="color: #fff;"> Photographies</h3>
              <ng-image-slider [images]="imgCollection" #nav>
      
              </ng-image-slider>
          </div>
      </div>
          
  </section>
  
  
  <section id="video" class="py-2">
      <div class="container">
          <div class="row">
              <h3 class="text-center py-2 fs-1 fw-bold text-center" style="color: #fff;">Vidéothéque</h3>
          </div>
          <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col">
                <div class="card">
                  <iframe class="h-100 w-100" [src]="getSafeurl()" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <div class="card-body">
                    <h5 class="card-title text-uppercase"> histoire lifiled </h5>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <iframe  class="h-100 w-100" [src]="getSafeurl1()" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <div class="card-body">
                    <h5 class="card-title text-uppercase"> éléctrification rurale</h5>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </section>
  
  <section id="blog">
    <div class="container-fluid">
      <div class="row">
        <h3 class="text-center py-2 fs-1 fw-bold text-center bg-light" style="color: #001e67e0;"> BLOG&PRESSE</h3>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-12 my-5 py-1"></div>
            <div class="col-12 my-5 py-1"></div>
        </div>
        <div class="row justify-content-center my-5 mx-1">
            <div class="col-12 col-md-8 shadow rounded-3 px-2" 
                id="texte_accueil">
                <div class="fs-1 fw-bold text-center">
                    Nos Articles sur Lifiled
                </div>
                <div class="m-2 p-2"></div>
                
            </div>
        </div>
    </div>
    </div>
  </section>
  
