<section id="blog">
      <div class="container">
        <div class="row">
            <div class="col-12 my-5 py-1"></div>
            <div class="col-12 my-5 py-1"></div>
        </div>
        <div class="row justify-content-center my-5 mx-1">
            <div class="col-12 col-md-8 shadow rounded-3 px-2" 
                id="texte_accueil">
                <div class="fs-1 fw-bold text-center">
                    Nos Articles sur Lifiled
                </div>
                <div class="m-2 p-2"></div>
                
            </div>
        </div>
    </div>
    
</section>




